.root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("/assets/img-call-to-action-background.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 64px;
    padding-bottom: 24px;
}

.smallText {
    padding-top: 8px;
}
