@import "../../../styles/colors.module.scss";

.cardElement {
    background-color: white;
    padding: 18.5px 14px;
    margin: 8px 0px;
    color: $primary-color;
}

.flex1 {
    flex: 1;
}

.flex1,
.cardElement {
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.23);
}

.flex1:hover,
.cardElement:hover {
    border: solid 1px rgba($color: #000000, $alpha: 0.5);
}

// .flex1:focus,
// .cardElement:focus,
// .flex1:active,
// .cardElement:active,
// .flex1:visited,
// .cardElement:visited {
//   border: solid 1px #ff5757;
// }

.fullWidth {
    width: 100%;
}
