// Light Colors
$primary-color: #00ba4f;
$secondary-color: #6b6bff;

// Light backgrounds
$background-primary-color: #ffffff;
$background-secondary-color: #f5f5f5;

// Font Colors
$title-color: #707070;
$paragraph-color: #747474;
$contrast-color: #ffffff;
$danger-color: #ba0000;

:export {
    primaryColor: $primary-color;
    secondaryColor: $secondary-color;
    backgroundPrimaryColor: $background-primary-color;
    backgroundSecondaryColor: $background-secondary-color;
    titleColor: $title-color;
    contrastColor: $contrast-color;
    dangerColor: $danger-color;
    paragraphColor: $paragraph-color;
}
