// Light Colors
$primary-color-dark: #02924c;
$primary-color: #531f2b;
$secondary-color: #e83429;

// Light backgrounds
$background-primary-color: #fbf9f5;
$background-secondary-color: #f4ebd7;

// Font Colors
$black-color: #2c2d2e;
$title-color: #404040;
$paragraph-color: #515151;
$contrast-color: #ffffff;
$danger-color: #ba0000;

:export {
    primaryColor: $primary-color;
    primaryColorDark: $primary-color-dark;
    secondaryColor: $secondary-color;
    backgroundPrimaryColor: $background-primary-color;
    backgroundSecondaryColor: $background-secondary-color;
    titleColor: $title-color;
    contrastColor: $contrast-color;
    dangerColor: $danger-color;
    paragraphColor: $paragraph-color;
    blackColor: $black-color;
}
