// @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;600;700&display=swap");

// Families
// $texts-font: "Poppins", sans-serif;
// $buttons-font: "Open Sans", sans-serif;
$texts-font: "Fraunces", sans-serif;
$buttons-font: "GT-America-Mono", sans-serif;

:export {
    textsFont: $texts-font;
    buttonsFont: $buttons-font;
}
