/* recipes grid */

.proximanova-16px,
.proximanova-13px,
.proximanova-20px,
.pendingToValue3,
.proximanova-modal-16 {
    color: #777777;
    font-style: normal;
}

.proximanova-16px,
.proximanova-13px,
.proximanova-20px,
.proximanova-24px,
.pendingToValue3,
.proximanova-modal-24,
.proximanova-modal-16,
.proximanova-modal-18 {
    font-family: "ProximaNova-Bold", Helvetica;
}

.opensans-14px,
.opensans-14px-2,
.opensans-14px-3 {
    color: #777777;
    font-family: "Open Sans", Helvetica;
    font-size: 14px;
}
.opensans-14px-2,
.opensans-14px-3 {
    font-weight: 400;
}

.opensans-14px-2,
.proximanova-24px,
.proximanova-modal-24,
.proximanova-modal-18 {
    font-style: normal;
}

.opensans-14px-3 {
    font-style: italic;
}

.proximanova-16px,
.proximanova-modal-16 {
    font-size: 16px;
    font-weight: 700;
}
.proximanova-13px {
    font-family: "ProximaNova-Semibold", Helvetica;
    font-size: 13px;
    font-weight: 600;
}
.proximanova-20px,
.pendingToValue3 {
    font-size: 20px;
    font-weight: 700;
}
.proximanova-24px {
    color: #202223de;
    font-size: 24px;
    font-weight: 700;
}

.blog,
.blog .group1009,
.blog .group1009-1,
.blog .group1018,
.blog .group1531,
.blog .group1978,
.mobile .group1018,
.mobile .group2015,
.blog .group1976,
.blog .group1977,
.blog .group1978,
.blog .group1979,
.blog .group5,
.mobile,
.mobile .flexRow,
.mobile .flexRow1,
.mobile .group1009,
.mobile .group1009-1,
.mobile .group1531,
.mobile .group2016,
.mobile .group5,
.recetasSinValorar,
.container,
.blog-page-19,
.blog-page-19 .group1685,
.blog-page-19 .group1686,
.blog-page-19 .group1687,
.blog-page-19 .group1688,
.blog-page-19 .group1690,
.blog-page-19 .group714,
.blog-page-19 .group964,
.mobile-modal .group964,
.mobile-modal,
.mobile-modal .group168,
.mobile-modal .group1686,
.mobile-modal .group1685,
.mobile-modal .group1687,
.mobile-modal .group1688,
.mobile-modal .group2019,
.mobile-modal .group-853 {
    display: flex;
}

.blog,
.blog .group1009,
.blog .group1009-1,
.blog .group1018,
.blog .group1978,
.mobile,
.mobile .flexRow,
.mobile .group1009,
.mobile .group1009-1,
.mobile .group1018,
.mobile .group2015,
.container,
.blog-page-19 .group1686,
.blog-page-19 .group1690,
.mobile-modal,
.mobile-modal .group1686,
.mobile-modal .group2019 {
    flex-direction: column;
}

.blog {
    align-items: flex-start; 
}

.blog .group1005 {
    background-position: 50% 50%;
    background-size: cover;
    height: 167px;
    width: 260px;
}
.blog .group1009,
.blog .group1009-1 {
    align-items: flex-start;
    margin-left: 2px;
    margin-top: 16px;
    width: 230px;
}

.blog .group1009 {
    min-height: 140px;
}

.blog .group1009-1 {
    min-height: 111px;
}

.blog .group1018,
.mobile .group1018,
.mobile .group2015 {
    box-shadow: 0px 3px 8px #0000001a;
}

.blog .group1018 {
    border-radius: 8px;
    min-height: 339px;
    width: 260px;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.blog .group1531 {
    left: 0;
    min-width: 141px;
    position: absolute;
    top: 0;
    align-items: flex-start;
    height: 24px;
}

.blog .group1978,
.mobile .group1018,
.mobile .group2015,
.blog .group1018,
.blog-page-19 .group1690,
.mobile-modal .group1687 {
    align-items: center;
    background-color: #ffffff;
}

.blog .group1976,
.blog .group1977 {
    align-items: flex-start;
    align-self: center;
}

.blog .group1976 {
    margin-top: 25px;
    min-width: 1088px;
    max-width: 1104px;
    flex-wrap: wrap;
}

.blog .group1977 {
    height: 310px;
    margin-top: 25px;
    min-width: 1088px;
}
.blog .group1978 {
    border-radius: 8px;
    min-height: 310px;
    width: 260px;
}
.blog .group1979 {
    align-items: flex-start;
    margin-left: 0;
    margin-top: 19px;
    min-width: 141px;
}

.blog .group5 {
    align-items: flex-start;
    height: 32px;
    justify-content: flex-end;
    margin-left: 139px;
    margin-top: 36px;
    min-width: 200px;
}
.blog .starIcon,
.blog .starIcon-1,
.mobile .starIcon {
    height: 24px;
    object-fit: cover;
    width: 25px;
}
.blog .starIcon-1,
.mobile .starIcon-1 {
    margin-left: 3px;
}

.blog .iconArrow,
.mobile .iconArrow {
    align-self: center;
    height: 16px;
    margin-top: 4px;
    object-fit: cover;
    width: 16px;
}

.blog .overlapGroup {
    height: 42px;
    margin-top: 19px;
    position: relative;
    width: 163px;
}

.blog .recetasValoradas,
.blog .recipeTitle,
.mobile .recipeTitle,
.mobile .recetasValoradas,
.blog .p,
.mobile .p,
.pendingToValue3,
.blog-page-19 .food-1,
.blog-page-19 .text-modal-2,
.mobile-modal .food-1,
.mobile-modal .text5 {
    letter-spacing: 0;
    line-height: 24px;
}

.blog .recetasValoradas {
    margin-left: 139px;
    margin-top: 42px;
    min-height: 29px;
    white-space: nowrap;
}
.blog .recipeTitle {
    white-space: nowrap;
}
.blog .p {
    margin-top: 4px;
    min-height: 45px;
    width: 230px;
}
.blog .text1,
.blog .text13,
.mobile .text1,
.mobile .text14,
.blog-page-19 .text-modal-1,
.blog-page-19 .text-modal-2,
.blog-page-19 .text-modal-4,
.mobile-modal .calificar-receta,
.mobile-modal .calificar-receta-1,
.mobile-modal .food-1 {
    letter-spacing: 0;
    white-space: nowrap;
}
.blog .text1 {
    left: 0;
    line-height: 40px;
    position: absolute;
    top: 22px;
}

.blog .text13 {
    line-height: 24px;
    margin-top: 27px;
    min-height: 29px;
}
.blog .x24-1 {
    letter-spacing: 0.18px;
    line-height: 27px;
    margin-left: 8px;
    margin-top: -1.5px;
    min-height: 34px;
    white-space: nowrap;
}
.mobile,
.mobile .flexRow,
.mobile .flexRow1,
.mobile .group1009,
.mobile .group1009-1,
.mobile .group1531,
.mobile .group2016,
.mobile .group5,
.recetasSinValorar,
.blog-page-19,
.blog-page-19 .group1686,
.blog-page-19 .group1687,
.blog-page-19 .group714,
.blog-page-19 .group964,
.mobile-modal .group964,
.mobile-modal .group1686,
.mobile-modal .group-853 {
    align-items: flex-start;
}

.mobile {
    background-color: #f8f8f8;
    height: 989px;
    overflow-y: auto;
    width: 375px;
}

.mobile .flexRow {
    align-self: flex-end;
    margin-right: -150px;
    margin-top: 17px;
    min-width: 510px;
}
.mobile .flexRow1 {
    align-self: flex-end;
    height: 302px;
    margin-right: -154px;
    margin-top: 17px;
    min-width: 510px;
}
.mobile .group1005 {
    background-position: 50% 50%;
    background-size: cover;
    height: 159px;
    width: 275px;
}
.mobile .group1009,
.mobile .group1009-1 {
    margin-left: 2px;
    margin-top: 16px;
    width: 217px;
}

.mobile .group1009 {
    min-height: 140px;
}

.mobile .group1009-1 {
    min-height: 111px;
}
.mobile .group1018 {
    border-radius: 8px;
    min-height: 331px;
    width: 275px;
    margin-right: 1rem;
    margin-bottom: 1rem;
}
.mobile .group1531 {
    height: 24px;
    left: 0;
    min-width: 141px;
    position: absolute;
    top: 0;
}
.mobile .group2015 {
    border-radius: 8px;
    min-height: 302px;
    width: 247px;
}
.mobile .group2016 {
    margin-top: 19px;
    min-width: 141px;
    padding: 0 0px;
}

.mobile .group5 {
    height: 32px;
    justify-content: flex-end;
    margin-left: 15px;
    margin-top: 28px;
    min-width: 200px;
}

.mobile .overlapGroup {
    height: 42px;
    margin-top: 19px;
    position: relative;
    width: 163px;
}

.mobile .recetasValoradas {
    margin-left: 19px;
    margin-top: 26px;
    min-height: 29px;
    white-space: nowrap;
}

.mobile .p {
    margin-top: 4px;
    min-height: 45px;
    width: 217px;
}
.mobile .text1 {
    left: 0;
    line-height: 40px;
    position: absolute;
    top: 22px;
}
.mobile .text14 {
    line-height: 24px;
    margin-top: 19px;
    min-height: 29px;
}
.mobile .x24-1 {
    letter-spacing: 0.18px;
    line-height: 27px;
    margin-left: 8px;
    margin-top: -1.5px;
    min-height: 34px;
    white-space: nowrap;
}
@media screen and (max-width: 960px) {
    .screen-1.blog {
        display: none;
    }
}

.container {
    pointer-events: none;
    justify-content: center;
    width: 100%;
}
.container > div {
    pointer-events: auto;
    flex-shrink: 0;
    overflow-x: scroll;
}
.hidden {
    visibility: hidden;
    pointer-events: none;
}
.screen-1 a {
    text-decoration: none;
    display: contents;
}

.recetasSinValorar {
    align-self: center;
    height: 339px;
    margin-top: 25px;
    min-width: 1088px;
    max-width: 1104px;
    flex-wrap: wrap;
}

.pendingToValue3 {
    margin-left: 0;
    margin-top: 27px;
    min-height: 29px;
    white-space: nowrap;
}

@media screen and (min-width: 961px) {
    .screen-1.mobile {
        display: none;
    }
}
@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400italic");

@font-face {
    font-family: "ProximaNova-Bold";
    font-style: normal;
    font-weight: 700;
    src: url("https://fonts.animaapp.com/ProximaNova-Bold") format("opentype");
}

@font-face {
    font-family: "ProximaNova-Semibold";
    font-style: normal;
    font-weight: 600;
    src: url("https://fonts.animaapp.com/ProximaNova-Semibold") format("opentype");
}

@font-face {
    font-family: "ProximaNova-Regular";
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.animaapp.com/ProximaNova-Regular") format("opentype");
}

/* recipes modal */

.proximanova-modal-24 {
    color: #555555;
    font-size: 24px;
    font-weight: 700;
}

.proximanova-dove-gray-16px {
    color: #707070;
    font-family: "ProximaNova-Regular", Helvetica;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.proximanova-modal-18 {
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
}

.border-1px-celeste {
    border: 1px solid #cccccc;
}

.blog-page-19 {
    height: 523px;
    width: 541px;
}

.blog-page-19 .group1685 {
    align-items: center;
    margin-top: 25px;
    min-width: 477px;
}

.blog-page-19 .group1686 {
    margin-left: 16px;
    margin-top: 1px;
    min-height: 47px;
    width: 313px;
}

.blog-page-19 .group1687 {
    background-color: #ffffff;
    border-radius: 8px;
    height: 128px;
    margin-top: 32px;
    min-width: 477px;
    padding: 18px 23px;
}

.blog-page-19 .group1688 {
    align-items: flex-end;
    margin-top: 32px;
    min-width: 247px;
}

.blog-page-19 .group1690 {
    border-radius: 8px;
    min-height: 500px;
    padding: 28px 0;
    width: 541px;
}

.blog-page-19 .group714 {
    height: 32px;
    margin-right: 0;
    min-width: 477px;
}

.blog-page-19 .group964,
.mobile-modal .group964 {
    background-color: #00a555;
    border-radius: 28px;
    box-shadow: 0px 3px 16px #00cc7133;
    height: 54px;
    border-color: rgb(116, 209, 116);
}

.blog-page-19 .group964 {
    justify-content: center;
    margin-top: 24px;
    min-width: 477px;
    padding: 3px 121px;
}

.mobile-modal .group964 {
    margin-top: 32px;
    min-width: 343px;
    padding: 3px 91px;
}

.blog-page-19 .food,
.mobile-modal .food {
    border-radius: 8px;
    height: 96px;
    object-fit: cover;
    width: 150px;
}

.blog-page-19 .food-1,
.mobile-modal .food-1,
.blog .recipeTitle,
.mobile .recipeTitle {
    margin-bottom: -1px;
    margin-top: -4px;
    min-height: 23px;
    white-space: nowrap;
}

.blog-page-19 .text-modal-1 {
    line-height: 40px;
    margin-top: -8px;
    min-height: 34px;
    min-width: 244px;
}

.blog-page-19 .text-modal-2 {
    height: 21px;
    margin-bottom: -3px;
    margin-top: 4px;
    min-height: 21px;
}

.blog-page-19 .text-modal-3 {
    letter-spacing: 0;
    line-height: 26px;
    min-height: 49px;
    width: 431px;
}

.blog-page-19 .text-modal-4 {
    line-height: 40px;
    min-height: 26px;
}

.mobile-modal {
    align-items: center;
    padding: 20px 0;
    width: 375px;
}

.mobile-modal .calificar-receta,
.mobile-modal .calificar-receta-1 {
    line-height: 40px;
}

.mobile-modal .calificar-receta {
    margin-top: -8px;
    min-height: 34px;
    min-width: 169px;
}

.mobile-modal .calificar-receta-1 {
    min-height: 26px;
}

.mobile-modal .group1685 {
    align-items: center;
    min-width: 343px;
}

.mobile-modal .group1686 {
    margin-left: 16px;
    margin-top: 1px;
    min-height: 71px;
    width: 179px;
}

.mobile-modal .group1687 {
    border-radius: 8px;
    height: 200px;
    margin-top: 32px;
    min-width: 343px;
    padding: 18px 23px;
}

.mobile-modal .group1688 {
    align-items: flex-end;
    margin-top: 32px;
    min-width: 247px;
}

.mobile-modal .group2019 {
    align-items: center;
    margin-top: 42px;
    min-height: 486px;
    width: 343px;
}

.mobile-modal .group-853 {
    height: 32px;
    margin-right: 4px;
    min-width: 339px;
}

.mobile-modal .text5 {
    margin-top: 4px;
    min-height: 45px;
    width: 179px;
}

.container-modal {
    pointer-events: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
.container-modal > div {
    pointer-events: auto;
    flex-shrink: 0;
}

@media screen and (max-width: 540px) {
    .screen-1.blog-page-19 {
        display: none;
    }
}
@media screen and (min-width: 541px) {
    .screen-1.mobile-modal {
        display: none;
    }
}
